<li>
	{{burger_name}}

	<button class="change-Devoured" data-id="{{id}}" data-neweat="{{devoured}}">
		{{#if Devoured}}YUM WANT ANOTHER!!{{else}}SAVE ME!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>